body { margin: 0; background-color: #f1f1f1; }

.frame {
    width: 100%;
}

.border {
    border-style: solid;
    border-width: thin;
    border-color: black;
}

img { object-fit: contain; }

button {
    padding: 0;
}

/* =======================header============================ */
.menuheader, .mainpage-menuheader {
    width: 100%;
    position: relative;
    transition: all 1s;
}

.menuheader {
    background-color: white;
}

.mainpage-header, .menu-header{
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

.mainpage-header {
    height: 53px;
    /* position: fixed;
    top: 0; */
    background-color: white;
    z-index: 800;
}

.header-logo {
    float: left;
    height: 100%;
}

.icon-expand-container {
    height: 100%; 
    float: left; 
    margin-right: 8px;
}

#icon-expand {
    display: none;
}

.header-input {
    padding-left: 33px;
    background-image: url('../images/trangchu/search.png');
    background-size: 13px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 12px;
    height: 36px;
    width: 225px;
    border-width: 0px;
    border-radius: 10px;
    background-color: #e8ecf3;
    transition: 0.5s;
}

.header-input:focus {
    width: 345px;
    transition: 0.5s;
    outline-style: none;
}

.icon-expand {
    width: 20px; height: 20px; float: left; background-color: #e8ecf3; color: #7088a9;
    margin-left: 35px;
    border-radius: 5px;
}

.header-input-position {
    float: right; 
    height: 100%;
}

.text-expand {
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #666666;
    width: fit-content;
    float: left;
    height: 100%;
}

.mainpage-menuheader {
    background-color: #ff9900;
    height: 45px;
    transition: 0.5s;
    /* margin-top: 53px; */
}

.colmenu {
    width: 8.3%;
    position: relative;
    height: 45px;
}

.class {
    display: flex;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Roboto-Medium;
    font-size: 15px;
    color: white;
    border-style: solid;
    border-width: 0 0.5px 0 0.5px;
    border-color: #ffad33;
}

.class, .subject {
    cursor: pointer;
}

.mainpage-news-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* overflow: hidden; */
    transition: 1s;
}

.post {
    width: 44.5%;
    background-color: white;
    padding: 25px;
    margin-bottom: 25px;
    transition: 0.5s;
}

.post:hover {
    box-shadow: 0 0 20px gray;
}

.post-title {
    font-family: Roboto-Medium;
    font-size: 17px;
}

.post-author {
    margin: 8px 0;
    font-family: Roboto-Medium;
    font-size: 12px;
    float: left;
    color: #00a888;
}

.post-statistic {
    margin: 8px 0;
    float: right;
    font-family: Roboto-Regular;
    font-size: 13px;
}

.post-like {
    float: right;
}

.post-view {
    float: right;
    margin-right: 16px;
}

.post-content {
    clear: both;
    font-family: Roboto-Regular;
    font-size: 13px;
    text-align: justify;
}

.the12th, .the11th, .the10th, .the9th, .the8th, .the7th, .the6th, .the5th {
    position: absolute;
    left: 0;
    top: 45px;
}

.the4th, .the3rd, .the2nd, .the1st {
    position: absolute;
    right: 0;
    top: 45px;
}

.subjectall {
    width: 280px;
    padding: 20px 10px 30px 10px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: Roboto-Regular;
}

.subjectcol {
    width: 49%;
    font-size: 13px;
}

.subject {
    line-height: 26px;
    justify-items: center;
    margin: 2px 0;
    padding: 0px 16px;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: white;
    /* transition: 0.3s ease; */
}

.boardsubject {
    height: 0;
    overflow: hidden;
    transition: all 1s;
}

.number {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 70px;
}

/* .the12th, .the11th, .the10th, .the9th, .the8th, .the7th, .the6th, .the5th, .the4th, .the3rd, .the2nd, .the1st {
    visibility: hidden;
} */

.number-border {
	position: absolute;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 0;
    border-left-width: 70px;
    border-bottom: 70px solid #ff9900;
}

.number12-text, .number11-text, .number10-text {
	position: absolute;
    display: inline-block;
    right: -5px;
    top: -9px;
	background-image: linear-gradient(135deg, #ff9900 50%, white 50%);
    font-size: 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.number9-text, .number8-text, .number7-text, .number6-text, .number5-text, .number4-text, .number3-text, .number2-text, .number1-text {
    position: absolute;
    display: inline-block;
    right: 14px;
    top: -9px;
	background-image: linear-gradient(135deg, #ff9900 50%, white 50%);
    font-size: 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.colmenu:hover .boardsubject {
    height: auto;
}

.subject:hover {
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: #ff9900;
    transition: 0.3s ease;
}

.background-blur {
    width: 100%;
    position: fixed;
    top: 98;
    z-index: 200;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: none; */
}

/* .background-blur-top {
    width: 100%;
    position: fixed;
    top: 0;
    height: 98%;
} */

/* =================================side bar================================= */
.sidebar {
    z-index: 1005;
    position: fixed;
    width: 70%;
    /* background-color: #ff9900; */
    top: 0px;
    transform: translateX(-100%);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: scroll;
    height: 100%;
    background-color: #FFAD09;
}

.sidebar-blur {
    z-index: 1001;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    background: rgba(0, 0, 0, 0.5);
}

.sidebar-class-container {
    border-top-style: solid;
    border-top-color: #ffad33;
    border-top-width: 1px;
    height: 40px;
    position: relative;
    background-color: #FFAD09;
    overflow: auto;
    transition: all 1s;
}

.sidebar-class-header {
    width: 100%;
    height: 100%;
}

.siderbar-class-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 65px;
    font-family: Roboto-Medium;
    font-size: 15px;
    color: white;
    height: 100%;
}

.sidebar-icon-filter {
    font-size: 15px;
    color: #7088a9;
}

.sidebar-icon-plus {
    font-size: 20px;
    color: #7088a9;
}

.sidebar-class-subject {
    width: 100%;
    background-color: #F6B850;
    transition: height 1s, transform 1s;
    overflow: hidden;
    height: 0;
}

.sidebar-colsub {
    margin-left: 50px;
    width: 85%;
    height: 35px;
    font-size: 13px;
    font-family: Roboto-Regular;
    color: white;
    border-top-style: solid;
    border-top-color: #ffad33;
    border-top-width: 1px;
    line-height: 35px;
    justify-items: center;
    transition: all 1s;
}

/* ================================footer=============================== */
.frame-mainpage-footer {
    width: 100%;
    background-color: #2f3b4d;
}

.mainpage-footer {
    width: 100%;
    max-width: 1140px;
    margin: auto;   
}

.footer-logo {
    height: 92px;
    /* margin-top: 32px; */
}

.wall-footer {
    margin: 0 40px;
    border-style: solid;
    border-width: 0.75px;
    border-color: #828994;
    margin-top: 30px;
    height: 13px;
    margin-bottom: 20px;
}

.footer-menu {
    border-style: solid;
    border-color: #444f5f;
    border-width: 1px 0px;
}

.footer-text {
    font-family: Roboto-Regular;
    font-size: 15px;
    color: #828994;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer-copyright {
    font-family: Roboto-Regular;
    font-size: 12px;
    color: #828994;
    height: 56px;
    text-align: center;
}

/* ============================trang chu============================= */
.mainpage-backgroundheader {
    width: 100%;
    background-image: url('../images/trangchu/trangchu_background.png');
    height: 235px;
    background-position-x: center;
}

.news {
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

.mainpage-news-title { width: 100%; height: 100px; position: relative;}

._ {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 25px;
    background-color: #dddddd;
    height: 1px;
    z-index: 3;
}

.above_ {
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 25px;
    z-index: 4;
    background-color: #ff9900;
    height: 3px;
    border-width: 1.5px;
}

.news-title {
    position: absolute;
    left: 0;
    bottom: 38px;
    font-family: Roboto-Regular;
    font-size: 30px;
    color: #333333;
}

.news-viewall {
    font-family: Roboto-Regular;
    font-size: 13px;
    color: #00a888;
    position: absolute;
    right: 10px;
    bottom: 38px;
    cursor: pointer;
}

.colcontent {
    width: 30%;
    text-align: center;
    margin-top: 55px;
}

.mainpage-menucontent {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 28px 0px;
}

.mainpage-menu-header {
    font-family: Roboto-Regular;
    font-size: 30px;
}

.menu-title {
    font-family: Roboto-Regular;
    font-size: 20px;
    margin-top: 18px;
}

.menu-content {
    font-family: Roboto-Regular;
    font-size: 13px;
    margin-top: 10px;
}

.frame-menucontent {
    width: 100%;
    background-color: white;
    margin-top: 45px;
}

/* ===========================Lop 9============================== */
.grade-news {
    width: 100%;
    margin-top: 15px;
}

.grade-content {
    width: 70%;
}

.grade-advertisement {
    width: 300px;
    margin-left: 30px;
    margin-top: 92px;
}

.grade-content-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.grade-post {
    width: 100%;
    background-color: white;
    padding: 25px;
    margin-bottom: 25px;
    transition: 0.5s;
}

.grade-post:hover {
    box-shadow: 0 0 20px gray;
}

.grade-shadow {
    box-shadow: 0px -84px 41px -11px white;
    height: 0;
    overflow: hidden;
}

.grade-btn {
    width: 93px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #00a888;
    height: 27px;
    color: #00a888;
    font-family: Roboto-Regular;
    font-size: 13px;
    line-height: 27px;
    justify-items: center;
    text-align: center;
    transition: 0.5s;
}

.grade-btn:hover {
    background-color: #00a888;
    color: white;
}

.grade-circle {
    width: 30px;
    height: 30px;
    border-width: 0px;
    border-radius: 15px;
    background-color: white;
    margin: 3.5px;
    font-family: Roboto-Regular;
    font-size: 15px;
    display: none;
    line-height: 30px;
    justify-items: center;
    text-align: center;
    transition: 0.5s;
    margin-bottom: 63px;
}

.grade-circle:hover {
    background-color: #ffaa00;
    color: white;
}

.grade-header {
    height: 100px;
    width: 100%;
    background: url('../images/lop9/lop9_background.png') center center;
    background-repeat: repeat;
}

.grade-header-frame {
    width: 100%;
    max-width: 1140px;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.grade-header-path {
    position: absolute;
    top: 15px;
    left: 0px;
    font-family: Roboto-Regular;
    font-size: 13px;
    text-transform: uppercase;
    width: fit-content;
    color: white;
}

.grade-frame-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grade-circle-big, .grade-circle-small {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.grade-circle-big {
    border-width: 0px;
    border-radius: 150px;
    position: absolute;
    width: 251px;
    height: 251px;
    background-color: rgba(255, 255, 255, 0.2);
}

.grade-circle-small {
    border-width: 0px;
    border-radius: 100px;
    position: absolute;
    width: 170px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.3);
}

.grade-header-text {
    font-family: Roboto-Bold;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

/* ===========================Detail======================= */
.detail-content-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    justify-items: center;
    background-color: white;
}

.detail-author {
    font-family: Roboto-Medium;
    font-size: 12px;
    float: left;
    color: #00a888;
    width: fit-content;
    float: left;
    line-height: 50px;
    justify-items: center;
}

.detail-statistic {
    float: right;
    font-family: Roboto-Regular;
    font-size: 13px;
    float: right;
    width: fit-content;
    line-height: 50px;
    justify-items: center;
}

.detail-content-text-header {
    font-family: Roboto-Bold;
    font-size: 17px;
    text-indent: 40px;
    text-align: justify;
}

p {
    font-family: Roboto-Regular;
    font-size: 15px;
    text-indent: 40px;
    text-align: justify;
}

h3 {
    margin: 5px 0;
}

.detail-content-text {
    padding: 45px 70px;
    background-color: white;
    margin-top: 1px;
}

.detail-cmtfb {
    padding: 20px;
}

.detail-related {
    position: relative;
    font-family: Roboto-Medium;
    font-size: 17px;
    color: #333333;
    height: 65px;
}

.detail-related-cat {
    width: 100%;
}

.detail-related-link {
    font-family: Roboto-Regular;
    margin: 7px 0;
}

.a-link-detail {
    cursor: pointer;
    font-size: 15px;
    color: #00a888;
    text-decoration: none;
}

.detail-content {
    width: 70%;
    margin-top: 45px;
}

.detail-advertisement {
    width: 300px;
    margin-left: 32px;
    margin-top: 45px;
}
/* ========================flex======================= */
.flex-row-nowrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row-spbetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

/* ===========================fonts========================= */
@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

/* =========================responsive=========================== */
@media only screen and (max-width: 1000px) {
    .post {
        width: 43%;
    }

    .wall-footer {
        margin: 30px 20px 0 20px;
    }

    .colcontent  {
        width: 32%;
    }

    .detail-content-text {
        padding: 25px 30px;
    }
}

@media only screen and (max-width: 750px) {
    /* =================Header==================== */
    .mainpage-menuheader{
        display: none;
        height: 0px;
    }

    .menuheader {
        height: 106px;
        background-color: #ff9900;
        z-index: 1001;
    }

    .header-logo {
        height: 53px;
        width: 100%;
        background-color: white;
    }

    .icon-expand-container {
        height: 53px;
    }

    #icon-expand {
        display: block;
    }

    #icon-expand-web {
        display: none;
    }

    .text-expand {
        height: 53px;
        color: white;
    }

    .header-input-position {
        height: 53px;
    }

    .header-input {
        width: 0px;
        border-radius: 20px;
        padding: 0 18px;
        background-position-x: 12px;
        margin-right: 35px;
    }

    .post {
        width: 100%;
        margin: 10px;
    }

    .footer-menu {
        display: none;
    }

    .footer-logo {
        border-bottom-style: solid;
        border-bottom-color: #444f5f;
        border-bottom-width: 1px;
    }

    .footercontent-flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .colcontent {
        width: 80%;
    }

    /* ==================Lop 9================= */
    .grade-content-flex { flex-wrap: wrap; }

    .grade-advertisement {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }

    .grade-content { width: 100%; }

    .grade-post {
        /* margin: 0 10px; */
    }

    /* ========================Detail===================== */
    .detail-advertisement {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        flex-wrap: wrap;
    }

    .detail-content { width: 100%; }
}

@media only screen and (max-width: 600px) {
    /* ================Detail==================== */
    .grade-header {
        height: 200px;
    }

    .grade-header-text {
        text-align: center;
    }
}