<!DOCTYPE html>
<html>
<head>
<title>Colors</title>
</head>
<body>
    <table style="width: 60%; margin: auto;">
        <tr>
            <th>Mã màu</th>
            <th>Tên(optional)</th>
            <th>Ghi chú</th>
        </tr>
        <tr>
            <td style="background-color: #ff9900">#ff9900</td>
            <td>lightorange</td>
            <td>Màu nền menu header<br/>Màu các vạch kẻ ngăn cách tiêu đề mục lớn<br/>Màu các icon<br/>Màu border các submenu header</td>
        </tr>
        <tr>
            <td style="background-color: #7088a9">#7088a9</td>
            <td>grayblue</td>
            <td>Màu menu danh mục<br/></td>
        </tr>
        <tr>
            <td style="background-color: #ffad33">#ffad33</td>
            <td>lighterorange</td>
            <td>Màu ngăn cách các menu header<br/></td>
        </tr>
        <tr>
            <td style="background-color: #00a888">#00a888</td>
            <td>bluestone</td>
            <td>Màu chữ tác giả<br/>Màu viền button</td>
        </tr>
        <tr>
            <td style="background-color: #3780e6">3780e6</td>
            <td>bluesky</td>
            <td>Màu icon mắt</td>
        </tr>
        <tr>
            <td style="background-color: #e06666">#e06666</td>
            <td>pink</td>
            <td>Màu nút like</td>
        </tr>
        <tr>
            <td style="background-color: #2f3b4d">#2f3b4d</td>
            <td>darkblue</td>
            <td>Màu nền footer</td>
        </tr>
    </table>
    <style>
        table, td, th {
            border-style: solid;
            border-width: thin;
            border-collapse: collapse;
            min-height: 40px;
            padding: 10px;
        }
    </style>
</body>
</html>