<!DOCTYPE html>
<html>
<head>
<title>Fonts</title>
</head>
<body>
    <table style="width:60%; margin: auto">
        <tr>
            <th style="width:25%">Font chữ</th>
            <th style="width:10%">Nguồn</th>
            <th style="width:15%">Style(optional)</th>
            <th style="width:30%">Demo</th>
            <th style="width:20%">Ghi chú</th>
        </tr>
        <tr>
            <td>Roboto Regular 12px</td>
            <td>Google</td>
            <td></td>
            <td style="font-family: Roboto-Regular; font-size: 12px;">Demo</td>
            <td>hashtag, Copyright,</td>
        </tr>
        <tr>
            <td>Roboto Regular 13px</td>
            <td>Google</td>
            <td></td>
            <td style="font-family: Roboto-Regular; font-size: 13px;">Demo</td>
            <td>Số lượng view và like, nội dung bài post nhỏ; Nội dung menu; Submenu header; Đường dẫn thư mục trang chi tiết; Button </td>
        </tr>
        <tr>
            <td>Roboto Regular 14px</td>
            <td>Google</td>
            <td></td>
            <td style="font-family: Roboto-Regular; font-size: 14px;">Demo</td>
            <td>Header top, </td>
        </tr>
        <tr>
            <td>Roboto Regular 15px</td>
            <td>Google</td>
            <td></td>
            <td style="font-family: Roboto-Regular; font-size: 15px;">Demo</td>
            <td>Footer content; Link bài viết gợi ý trang chi tiết; Số phân trang</td>
        </tr>
        <tr>
            <td>Roboto Regular 20px</td>
            <td>Google</td>
            <td></td>
            <td style="font-family: Roboto-Regular; font-size: 20px;">Demo</td>
            <td>Tiêu đề menu, </td>
        </tr>
        <tr>
            <td>Roboto Regular 30px</td>
            <td>Google</td>
            <td></td>
            <td style="font-family: Roboto-Regular; font-size: 30px;">Demo</td>
            <td>Tiêu đề các mục lớn</td>
        </tr>
        <tr>
            <td>Roboto Regular 69.11px</td>
            <td>Google</td>
            <td></td>
            <td style="font-family: Roboto-Regular; font-size: 69.11px;">Demo</td>
            <td>Số trong submenu header</td>
        </tr>
        <tr>
            <td>Roboto Medium 12px</td>
            <td>Google</td>
            <td></td>
            <td style="font-family: Roboto-Medium; font-size: 12px;">Demo</td>
            <td>Tác giả các bài viết nhỏ, </td>
        </tr>
        <tr>
            <td>Roboto Medium 13px</td>
            <td>Google</td>
            <td></td>
            <td style="font-family: Roboto-Medium; font-size: 13px;">Demo</td>
            <td>Tác giả trong trang chi tiết; </td>
        </tr>
        <tr>
            <td>Roboto Medium 15px</td>
            <td>Google</td>
            <td></td>
            <td style="font-family: Roboto-Medium; font-size: 15px;">Demo</td>
            <td>Header menu, </td>
        </tr>
        <tr>
            <td>Roboto Medium 17px</td>
            <td>Google</td>
            <td></td>
            <td style="font-family: Roboto-Medium; font-size: 17px;">Demo</td>
            <td>Tiêu đề các mục nhỏ; Tiêu đề xem thêm mục trang chi tiết;  </td>
        </tr>
        <tr>
            <td>Roboto Bold 30px</td>
            <td>Google</td>
            <td></td>
            <td style="font-family: Roboto-Bold; font-size: 30px;">Demo</td>
            <td>Tiêu đề trang chi tiết;   </td>
        </tr>
    </table>
    <style>
        table, td, th {
            border-style: solid;
            border-width: thin;
            border-collapse: collapse;
            min-height: 40px;
            padding: 10px;
        }

        @font-face {
            font-family: Roboto-Bold;
            src: url('../../fonts/Roboto-Bold.ttf');
        }

        @font-face {
            font-family: Roboto-Medium;
            src: url('../../fonts/Roboto-Medium.ttf');
        }

        @font-face {
            font-family: Roboto-Regular;
            src: url('../../fonts/Roboto-Regular.ttf');
        }
    </style>
</body>
</html>